<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="bg-[#16163F] p-6 flex items-center w-full">
        <div sec:authorize="isAuthenticated()" class="flex items-center w-full">
            <th:block
                    th:replace="fragments/nav :: nav('/history', 'Historique', 'subject', '', 'text-gray-300')"></th:block>
            <th:block
                    th:replace="fragments/nav :: nav('/donate', 'Donner', 'subject', '', 'text-gray-300')"></th:block>

            <div class="ml-auto flex text-white items-center gap-2">
                <div
                        class="flex items-center gap-1 px-3 py-2 rounded-lg hover:bg-[#2D2D5A] transition">
                    <i class="material-icons">person</i>
                    <strong th:text="'(' + ${#authentication.getPrincipal().getAttribute('email')} + ')'"></strong>
                </div>
                <th:block
                        th:replace="fragments/nav :: nav('/logout', 'Log out', 'logout', 'bg-red-600', 'bg-red-700')"></th:block>
            </div>
        </div>

        <div sec:authorize="isAnonymous()" class="flex items-center gap-6 w-full">
            <div class="flex items-center gap-4 px-4 text-white">
                <i class="material-icons">business_center</i>
                <h1 class="font-medium text-lg">Tsinjo - Fonds de sécurité de HEI</h1>
            </div>
            <div class="ml-auto flex items-center gap-2">
                <th:block
                        th:replace="fragments/nav :: nav('/oauth2/authorization/cognito', 'Log in', 'login', 'bg-[#9933CC]', 'bg-[#7A29A5]')"></th:block>
            </div>
        </div>
    </div>
</div>